body{
	margin: auto;
  width: 100%;
  height: 100%;
  position: relative;
}

h1 {
  color: #fff;
  text-align: center;
  padding: 60px;
  font-size: 1.5em;
}

form.contacto{
	margin: 50px auto 0 auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.contacto label{
	display: block; /* esto es para que el label se sobreponga a la caja de texto */
  color: #BABABA;
  font-weight: lighter;
  font-size: .8em;
  font-family: 'Roboto', sans-serif;
}

.contacto div{
	margin-bottom: 15px; /* esto los separara un poco */
  display: block;
}

.contacto input[type='text']{
	padding: 7px 6px;
	width: 478px; /* una longitud definida */
  height: 38px;
	border: 1px solid #474747;
	resize: none; /* esta propiedad es para que el textarea no sea redimensionable */
	margin: 5px 0;
  border-radius: 5px;
  background-color: #212121;
  color: #fff;
}

.contacto textarea {
  padding: 7px 6px;
	width: 478px; /* una longitud definida */
  height: 104px;
	border: 1px solid #474747;
	resize: none; /* esta propiedad es para que el textarea no sea redimensionable */
	margin: 5px 0;
  border-radius: 5px;
  background-color: #212121;
  color: #fff;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-weight: bolder;
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
  color: #3b3838;
}

.contacto input[type='submit']{
  background-color: #fff;
	border: 1px solid #595d5e;
	padding: 8px 16px;
	border-radius: 5px;
	font-weight: bold;
  height: 40px;
  padding: 0 30px;
}
.contacto input[type='submit']:hover{
  background-color: #d4d4d4;
}
