body{
  background-color: #212121;
  font-family: sans-serif;
  margin: 0px;
}

 .master-title{
   color: white;
   font-size: 4em;
   margin-bottom: 20px;
 }

 .master-text{
   color: white;
   font-size: 1.3em;
   color: #BABABA;
   font-weight: lighter;
   margin-top: 0;
   margin-bottom: 150px;
 }

.center{
  text-align: center;
}

.bold {
  font-weight: bold;
}

.blanco,
.galery-name,
.date {
  color: #ffffff;
}

.down-arrow {
  display: flex;
  justify-content: center;
}

.master-arrow {
  display: inline-block;
  margin-bottom: 30px;
}

.galery-name,
.date {
  text-align: center;
}

.masthead-text {
margin-top: 150px;
}







body {
  margin: 0px 0px;
  font-family: sans-serif;
  font-weight: bold;
}
header {
  background-color: #191919;
  display: flex;
  justify-content: space-between;
  height: 70px;
}

li {
  float: left;
  list-style: none;
  padding: 10px;
}

a {
  text-decoration: none;
  color: #BABABA;
}

.social-nav {
  float: right;
  padding-left: 0px;
}

.pages-name {
  float: left;
  padding-left: 15px;
}

.pages-name :hover {
  color: #fff;
}

.logo {
  width: 115px;
  margin-right: 15px;
}

.nav-item {
  display:  inline-block;
}

.header-pages {
  margin-left: 12px;
  font-size: .97em;
  margin-top: 2px;
}

.header-social {
  margin-right: 8px;
}
